@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
    --primary-cyan: hsl(158, 36%, 37%);
    --primary-cyan-dark: hsl(160, 42%, 21%);
    --primary-cream: hsl(30, 38%, 92%);

    --color-neutral-100: hsl(0, 0%, 100%);
    --color-neutral-500: hsl(228, 12%, 48%);
    --color-neutral-800: hsl(212, 21%, 14%);

    --fs-400: 0.925rem;
    --fs-500: 1.25rem;
    --fs-600: 1.75rem;
    --fs-700: 2.25rem;

    --ff-serif: 'Fraunces', serif;
    --ff-sans: 'Montserrat', sans-serif;

    --fw-medium: 500;
    --fw-bold: 700;

    --border-radius: 1rem;

    --padding: 1.5rem;

    --gap: 1.25rem;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

img{
    width: 100%;
    display: block;
}

body{
    height: 100vh;
    display: grid;
    place-content: center;
    font-size: var(--fs-400);
    font-family: var(--ff-sans);
    color: var(--color-neutral-500);
    background-color: var(--primary-cyan-dark);
}
.flex-group{
    display: flex;
    gap: 0.75rem;
    align-items: center;
    position: relative;
}

.grid-flow{
    display: grid;
    align-content: start;
    gap: var(--gap);
}

.button{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--primary-cyan);
    color: var(--color-neutral-100);
    font-weight: var(--fw-bold);
    font-size: var(--fs-400);
    cursor: pointer;
    transition: all 0.75s;
}

.button:hover,
.button:active{
    background-color: var(--primary-cyan-dark);
}


article{
    margin-inline: 1rem;
    max-width: 37.5rem;
    background-color: var(--color-neutral-100);
    border-radius: var(--border-radius);
}

img{
    border-radius:  var(--border-radius)  var(--border-radius) 0 0;
}

.information{
    padding: var(--padding);
}

.product-type{
    text-transform: uppercase;
    letter-spacing: 0.3rem;

}

.title{
    color: var(--color-neutral-800);
    font-family: var(--ff-serif);
    font-weight: var(--fw-bold);
    font-size: var(--fs-700);
}



.hidden{
    position: absolute;
    left: -10000px;
}

.previous-price{
    text-decoration: line-through;
}

.newer-price{
    font-family: var(--ff-serif);
    font-weight: var(--fw-bold);
    font-size: var(--fs-700);
    color: var(--primary-cyan);
}



@media (min-width: 800px) {
    article{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    img{
        border-radius: 1rem 0 0 1rem;
    }
}










































